.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /*align-items: center;*/
}

.loginButtonContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  width: 100%;
  height: 70px;
  border-top: 1px solid #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  margin-top: 20px;
  line-height: 1.15;
  font-size: 20px;
  text-align: center;
}

.profileName {
  font-size: 30px;
}

.profileNameAndAvatar {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.totalText {
  text-align: center;
  font-size: 30px;
}

.leaderboardHeader {
  text-align: center;
  font-size: 30px;
}
.leaderboardHeader h3 {
  margin-bottom: 0;
}

.leaderboardHeader  p {
  font-size: 0.4em;
}

.leaderboardItem {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.leaderboardContent {
  overflow-y: scroll;
}
